{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

    <ul>
        <li>isbn: {{ book.isbn }}</li>
        <li>title: {{ book.title }}</li>
        <li>author: {{ book.author }} </li>
        <li>year: {{ book.year }} </li>
    </ul>

    <!-- <h2>Passengers</h2>
    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger.name }}</li>
        {% else %}
            <li>No passengers.</li>
        {% endfor %}
    </ul> -->

{% endblock %}
