<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is my default title if no need different title for all pages</title>
  </head>
  <body>
    <h1> Lets make all body have H1 titles by default, below this are whatever's between my H2 block heading and endblock heading</h1>
    <h2>{% block heading %} {% endblock heading %}</h2>

    <h4>This is a size h4 consistent message across all site pages below this are the beginning of my block bodyyy and end block
    {% block bodyyy %}
    {% endblock %}
    </h4>
  </body>
</html>
